* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #ffffff;
    background: #30B868;
    opacity: 90%;
    border: none;
    padding: 12px 19px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all ease-in-out .4s;
}

.btn span {
    font-size: 16px;
    font-weight: 200;
    vertical-align: middle;

}

.button {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: black;
    font-weight: bolder;
    color: red;
    border-radius: 10px;

}

.links a {
    transition: all ease-in-out .3s;
}
.links a:hover {
    color: #30B868;
    text-decoration: underline;
}

