*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 85%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
    background: #30B868;
    border: none;
    padding: 12px 19px;
    border-radius:5px;
}